body {
	background-image: url(../img/fondoPag.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
	padding-top: 30px;
	height: 120px;
	padding-bottom: 30px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-style: normal;
}

.producto {
	text-align: center;
	margin-bottom: 20px;
}
.producto img {
	max-width: 100%;
	border: none;
}

h5 {
	color: aliceblue !important;
}
p {
	color: aliceblue;
}

.precio {
	color: rgb(255, 255, 255);
}
.oferta {
	color: rgb(255, 255, 255);
}
