/* variables que se usan como atajos*/
:root {
	--c-dark: #212529;
	--c-brand: #4e57d4;
	--c-brand-light: #6970dd;
	--c-body: #727272;
	--box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.08);
	--transition: all 0.5s ease;
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 1.7;
	color: var(--c-body);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	color: var(--c-dark);
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-style: normal;
}
.texto {
	color: #212529;
}

a {
	text-decoration: none;
	color: var(--c-brand);
	transition: var(--transition);
}

a:hover {
	color: var(--c-brand-light);
}

img {
	max-width: 100%;
	height: auto;
}

.dark-mode {
	background-color: #222;
	color: #fff;
}
.dark-mode h1,
h2,
h3,
h4,
h5,
h6 {
	color: whitesmoke;
}

.dark-mode .texto1 {
	color: white;
}
.dark-mode .parrafos-dark {
	color: #212529;
}
.dark-mode a {
	color: white;
}

.section-padding {
	padding-top: 110px;
	padding-bottom: 110px;
}

.theme-shadow {
	box-shadow: var(--box-shadow);
}

/* Zoom de las imagenes*/
.image-zoom {
	position: relative;
}

.image-zoom-wrapper {
	overflow: hidden;
	position: relative;
}

.image-zoom-wrapper img {
	transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img {
	transform: scale(1.1);
}

/* Botones */
.btn {
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	text-transform: uppercase;
	border-radius: 0;
	padding: 10px 24px;
}

.btn-brand {
	background-color: var(--c-brand);
	border-color: var(--c-brand);
	color: white;
}

.btn-brand:hover {
	background-color: var(--c-brand-light);
	border-color: var(--c-brand-light);
	color: white;
}

/* Imagen de la portada */
#portada {
	background: url(../img/fondo.jpg);
	background-position: center;
	background-size: cover;
}

/* TItulos de cada sección */
.section-titulo {
	margin-bottom: 60px;
}

.section-titulo .line {
	width: 60px;
	height: 4px;
	background-color: var(--c-brand);
	margin: 16px auto 24px auto;
}

.section-titulo p {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

/* Caja de los iconos */
.iconbox {
	width: 70px;
	height: 70px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: rgba(var(--c-brand-rgb), 0.1);
	color: var(--c-brand);
	font-size: 34px;
	flex: none;
}

/* Nuestros servicios */
.service {
	position: relative;
	overflow: hidden;
	z-index: 2;
}

.service::after {
	content: '';
	width: 40px;
	height: 40px;
	background: rgba(var(--c-brand-rgb), 0.2);
	position: absolute;
	bottom: 0;
	right: 0;
	transition: var(--transition);
}

.service:hover::after {
	width: 100%;
	height: 100%;
	background: var(--c-brand);
	z-index: -1;
}

.service:hover h5,
.service:hover p {
	color: white;
}

.service:hover .iconbox {
	background-color: rgba(162, 0, 255, 0.2);
	color: white;
}

/* Portfolio */
.portfolio-item .iconbox {
	background-color: var(--c-brand);
	color: white;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
}

.portfolio-item:hover .iconbox {
	opacity: 1;
	top: 50%;
}

/* Reseñas */
.reseñas small {
	font-weight: 600;
	text-transform: uppercase;
	color: var(--c-brand);
}

.reseñas-head {
	position: relative;
}

.reseñas-head::after {
	content: '';
	width: 28px;
	height: 28px;
	position: absolute;
	bottom: -14px;
	background-color: white;
	transform: rotate(45deg);
}

/* Contactanos */
#contactos {
	position: relative;
	z-index: 2;
}

#contactos::after {
	content: '';
	width: 100%;
	height: 70%;
	background: linear-gradient(
			rgba(var(--c-brand-rgb), 0.8),
			rgba(var(--c-brand-rgb), 0.8)
		),
		url(../images/counter.jpg);
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

#contactos .form-control {
	border-radius: 0;
}

#contactos .form-control:focus {
	box-shadow: none;
	border-color: var(--c-brand);
}
