* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: url(../img/wp2508260.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* NAV */
nav li {
    list-style: none;
}

nav li a,
.logo a {
    text-decoration: none;
    color: #fff;
}

nav li a:hover,
.logo a:hover {
    color: orange;
}

header {
    position: relative;
    padding: 0 2rem;
}

nav {
    width: 100%;
    max-width: 1200px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

nav .links {
    display: flex;
    gap: 2rem;
}

nav .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale .2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: 0.95;
}

/* Dropdown Menu */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 90px;
    width: 300px;
    height: 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 200px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu li a {
    text-decoration: none;
    color: #fff;
}

.dropdown_menu li a:hover {
    color: orange;
}

/* Dropdown Menu */
/* Responsive */
@media (max-width: 992px) {
    nav .links {
        display: none;
    }

    nav .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
        z-index: 1;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
        z-index: 1;
    }

    .dropdown_menu.open {
        height: 200px;
    }
}

/* Responsive */
/* NAV */