 .btn{
    font-family: 'Encode Sans Semi Expanded', sans-serif !important;
 }
 body{
    
    font-family: 'Encode Sans Semi Expanded', sans-serif;
 }
 #texto_logo{
    color: ghostwhite;
}
#texto_logo:hover{
    color: lightgray;
}
.fuente_google{

    font-size: xx-large !important;
}
.nav-link{
    color: ghostwhite !important;
}
.nav-link:hover{
    color: lightgray !important;
}
.navbar-toggler{
    background-color: red !important;
}

.modal-bold{
    font-weight: bold !important;
}
.boton_none{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.img_close{
    width: 32px;
}
.text-blue{
    color: rgb(11, 105, 245);
}
.icon-input{
    width: 16px;
}
.active{
    color: lightgray !important;
}

.card-img-top{
    width: 82px !important;
    padding: auto;
    margin: auto;
    margin-top: 1rem !important;
}
audio{
    padding: 1px !important;
    margin: 1px !important;
    border-radius: 4px !important;
   
}

body {
    background-image: url("../imgRegistro/fondonegro.jpg");
    background-size: cover; /* Para que la imagen se ajuste al tamaño de la ventana */
    background-position: center; /* Para centrar la imagen */
    height: 100vh; /* Para que la imagen ocupe toda la altura de la ventana */
    color: goldenrod; /* Esto establece el color del texto a blanco para todos los elementos */

    
  }
  #btn_continuar {
    background-color: goldenrod; /* Cambia este color al que desees */
  }
  .text-blue {
    color: goldenrod; /* Cambia este color al que desees */
  }
  #btn_inicio_sesion {
    background-color: goldenrod; /* Cambia este color al que desees */
  }
  .form-control {
    border-radius: 5px; /* Puedes ajustar este valor para redondear más o menos las esquinas */
  }

  #alerta_bienvenido {
color: goldenrod; /* Cambia 'blue' al color deseado */
}
#error_name {
color: goldenrod; /* Cambia 'goldenrod' al color deseado */

}
#error_pass {
color: goldenrod; /* Cambia 'goldenrod' al color deseado */

}
#error_mail {
color: goldenrod; /* Cambia 'goldenrod' al color deseado */

}
#error_pass_confir {
color: goldenrod; /* Cambia 'goldenrod' al color deseado */

}
#error_terminos {
color: goldenrod; /* Cambia 'goldenrod' al color deseado */

}